$dark-color : #1e242a !important;
$gray-color : #2e343d !important;
$purple-color: #937fc7 !important;
$purple-hover: #685499 !important;
$lightGray-color: rgb(91, 112, 131) !important;
$like-color: rgb(224, 36, 94) !important;

.bg-dark {
    background-color: $dark-color;
}

.bg-gray {
    background-color: $gray-color;
}

.bg-purple {
    background-color: $purple-color;
}

.color-purple {
    color: $purple-color;
}

.color-lightGray {
    color: $lightGray-color;
}

.color-like {
    color: $like-color;
}


//css..
html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    white-space: pre;
}

@media (min-width: 768px){
    .md-comment{
        width: 420px !important;
    }

    .md-image{
        width: 100% !important;
    }

    .md-scroll{
        overflow-y: hidden !important;
    }
}

.md-scroll{
    overflow-y: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.horizontal-line{
    background-color: $purple-color;
    width: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.f-bold{
    font-weight: 400;
}

.my-maxContainer{
    max-width: 1764px;
}

.capitalize {
    text-transform: capitalize;
}
  
.img-object-fit{
    object-fit: cover;
}

.my-btn{
    background-color: $purple-color;
    border-color: $purple-color;
}

.my-btn:hover:not(.disabled){
    background-color: $purple-hover;
    border-color: $purple-hover;
}

.my-btn-outline{
    color: $purple-color;
    border-color: $purple-color;
}

.my-btn-outline:hover{
    color: white !important;
    background-color: $purple-color;
}

.my-toast{
    position: absolute;
    // top: 5rem;
    z-index: 1;
    bottom: 3rem;
    right: 4rem;
}

.my-toast button{
    color: #fff;
}

.my-progress-purple div{
    background-color: $purple-color;
}

.my-image{
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}

.my-comment-title{
    font-size: 23px;
}

.my-model-comment{
    border-top: 1px solid #dee2e6;
    position:relative;
    overflow-y: auto;
    // height: 358px;
    height: 470px;
}

.my-model-comment-fake{
    height: 200px;
}

.my-model-comment-item{
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.my-model-comment-user{
    font-weight: 600;
}

.my-model-comment-chat{
    padding-left: 1rem;
}

.z-index2 {
    z-index: 2;
}

.my-bg-blur{
    width: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    // background-image: url("https://i.ibb.co/GsKyVxd/Z81.jpg");
    background-size: contain;
    background-repeat: repeat;
    // filter: blur(8px);
    filter: blur(300px);
}

.my-like-function{
    border-top: 1px solid #dee2e6;
    padding-top: 1rem;
    margin-top: 1rem;
}

// Justify Layout==================================================

.justifiedlayout .item {
    opacity: 1;
}

.justifiedlayout .item .thumbnail {
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
}

.justifiedlayout .item .thumbnail img {
    width: 100%;
}

.justifiedlayout .item .info {
    position: absolute;
    width: 100%;
    // height: 30px;
    bottom: 0;
    left: 0;
    line-height: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    text-align: left;
    font-size: 14px;
    opacity: 0;
    transition: opacity ease 0.2s;
}

.justifiedlayout .item .info .heart, .heart{
    cursor: pointer;
}

.justifiedlayout .item:hover .info {
    opacity: 1;
}

.item.animate {
    transition: opacity ease 1s;
    transition-delay: 0.2s;
    opacity: 1;
}


.justifiedlayout .loading {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    display: none;
}


.justifiedlayout .loading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.justifiedlayout.horizontal .loading {
    width: 200px;
    height: 100%;
}

//Override Boostrap
.modal-backdrop.show {
    opacity: 0.8;
}

.my-modal {
    width: 90%;
    max-width: none!important;
}

.my-modal .modal-content{
    // height: 100%;
    // max-height: 100%;
    background-color: transparent;
    border: none;
}

.my-modal-footer{
    position: absolute;
    width: 100%;
    // top: 100%;
    bottom: 0;
}